{% extends 'base.html' %}
{% load static %}
{% block title %}
افزودن آیتم به سبد
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock head %}

{% block style %}
.mydiv{
  font-size:20px;
}
{% endblock style %}

{% block body %}
    <form method="POST">
    {% csrf_token %}
    <div class="mydiv">
    <h3>راهنما:</h3>
    <p>برای ساخت یک محصول کامپلکس، باید از مواد اولیه تعریف شده استفاده شود</p>
    <p>مثلا اگر غذای ما برنج دارد، درصد برنج آن به صورت زیر محاسبه شده و در قسمت **تاثیر** وارد می شود</p>
    <p>مثلا برنج در زمان تعریف غذا، کیلویی 100 تومان است. غذای ما دارای 300 گرم برنج است. حال طبق فرمول بالا، در قسمت تاثیر، عدد 30/100 ک معادل 30درصد است وارد می شود</p>
    </div>
    {{form}}
    <button type='submit'>ثبت  مورد بالا</button>
  </form>
  <a href="/check">
    <button>مرحله بعد</button>
  </a>
{% endblock body %}