{% extends 'base.html' %}
{% load static %}
{% block title %}
چک کردن فاکتور
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock head %}

{% block body %}
<h3>موارد موجود در فاکتور در زیر آمده اند</h3>
    <hr>
    <ol>
        {% for item in content  %}
        <li class="bod">{{item.element}} - قیمت : {{item.price}} - تعداد : {{item.tedad}} </li>
        {% endfor %}
    </ol>
    <hr>
    <button>
        <a href="/factor"> اوکی
    </button>
    <hr>
    <button>
        <a href="/addtofactor"> بازگشت به مرحله قبل
    </button>
{% endblock body %}