{% extends 'base.html' %}
{% load static %}

{% block title %}
ایجاد غذا
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock head %}

{% block body %}
    <form method="POST">
    {% csrf_token %}
    {{form}}
    <hr>
    <button type='submit'>ایجاد غذا</button>
    </form>
    <hr>
    <button>
      <a href="{% url 'check-cart' %}"> لیست مواد اولیه موجود در ساخت غذا
      </button>
      <button>
      <a href="{% url 'add-to-cart' %}"> افزودن به مواد تشکیل دهنده غذا
    </button>
{% endblock body %}