{% extends 'base.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock head %}

{% block body %}
    <h3>فاکتور انتخابی شما به شرح زیر است</h3>
    <hr>
    <h3>صادرکننده : {{user}}</h3>
    <hr>
    <h3> {{issue_date}} : تاریخ صدور</h3>
    <hr>
    <ol>
    {% for key,value in content.items %}
        <li class="bod">{{key}} :> {{value}} ----- </li>
        {% endfor %}
    </ol>
    
{% endblock body %}