{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load jalali_tags %}
{% load static %}
{% block title %}
تعریف یک ماده اولیه
{% endblock title %}
{% block body %}
<form method="POST">
  {% csrf_token %}
    {{form|crispy}}
  <button type='submit'>Send</button>
</form>
{% endblock body %}
{% block html %}
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock html %}