{% extends 'base.html' %}
{% load static %}
{% block title %}
حذف
{% endblock title %}
{% block style %}
p{
  text-align: right;
  font-size : 25px;
}

input[type=submit]:hover {
  background-color: #ff0000;
  width: 100%;
}
input[type=submit] {
  width: 100%;
}

{% endblock style %}
{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock head %}
{% block body %}
    <p>آیا از حذف  مورد انتخاب شده مطمئن هستید ؟</p>
    <p>{{msg}}</p>
    <form action="" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete">
    </form>
{% endblock body %}