{% extends 'base.html' %}
{% load static %}
{% block title %}
ویرایش
{% endblock title %}
{% block style %}
.items{
  text-align : center ;
  font-size:20px ;
}
{% endblock style %}


{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock head %}
{% block body %}
<form method="POST">
  {% csrf_token %}
    {{form}}
    <ol class="items">
      {% for key,value in  materials.items %}
      <li>{{key}} : {{value}}</li>
      {% endfor %}
    </ol>
  <button type='submit'>ارسال</button>
</form>
<a href="/remove/{{type}}/{{id}}">
  <button>حذف مورد بالا</button>
</a>  
{% endblock body %}