{% extends 'base.html' %}
{% load humanize %}
{% block title %}
گزارش
{% endblock title %}

{% block style %}

table,th {
  border: 1px solid;
  text-align: center;
}

th {
  background-color: #04AA6D;
  border: 0px solid;
  color: white;
}

tr:hover {background-color: #ff99ff;}

h3{
  text-align: center;
  font-size : 35px
}

{% endblock style %}

{% block body %}
{% if active %}
<h3>مقدار کل ارزش مواد اولیه در انبار => {{mtv}}</h3>
{% endif %}
<hr>
<div class="container">
    <table class="table ">
      <thead>
        <tr>
          <th>{{col.0}}</th>
          <th>{{col.1}}</th>
          <th>{{col.2}}</th>
          <th>{{col.3}}</th>
        </tr>
      </thead>
    <tbody>
      {% for item in last %}
        <tr>
          <td>{{item.0 | intcomma}}</td>
          <td>{{item.1 | intcomma}}</td>
          <td>{{item.2 | intcomma}}</td>
          <td>{{item.3 | floatformat:"0"  | intcomma  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock body %}